<form
  [formGroup]="segmentForm"
  (ngSubmit)="onSubmit()"
  (onfocus)="showEmoji = false"
>
  <h1 mat-dialog-title>Add a segment</h1>
  <div style="padding-bottom: 1rem" mat-dialog-content>
    <label for="name">Name</label>
    <input
      type="text"
      id="name"
      name="name"
      class="form-control"
      formControlName="name"
    />
    <label for="icon">Icon</label>
    <button
      id="icon"
      name="icon"
      class="form-control emoji-selector"
      (click)="showEmoji = !showEmoji"
    >
      <ngx-emoji
        *ngIf="segmentForm.value.icon"
        [emoji]="segmentForm.value.icon"
        size="32"
      ></ngx-emoji>
    </button>
    <emoji-mart
      [showPreview]="false"
      *ngIf="showEmoji"
      (emojiClick)="setIcon($event)"
    >
    </emoji-mart>
    <label for="description">Description</label>
    <textarea
      name="description"
      id="description"
      rows="5"
      class="form-control"
      formControlName="description"
    ></textarea>
  </div>
  <div mat-dialog-actions>
    <ng-container *ngIf="data !== null; else update">
      <button
        type="submit"
        class="btn-primary"
        mat-button
        [disabled]="!segmentForm.valid"
      >
        Update
      </button>
      <button type="button" class="btn-danger" mat-button (click)="onRemove()">
        Remove
      </button>
    </ng-container>
    <button
      type="button"
      class="btn-secondary"
      mat-stroked-button
      (click)="dialogRef.close()"
    >
      Cancel
    </button>
  </div>
</form>

<ng-template #update>
  <button
    type="submit"
    class="btn-primary"
    mat-button
    [disabled]="!segmentForm.valid"
  >
    Save
  </button>
</ng-template>
