<div class="sidemenu">
  <h1 class="sidemenu__title">Prospector</h1>
  <form class="sidemenu__search">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Search for a table or a segment" />
    </mat-form-field>
  </form>
  <h3 class="sidemenu__subtitle">Segments</h3>
  <ul class="sidemenu__menu">
    <li
      *ngFor="let segment of segments$ | async"
      (click)="updateSegment(segment)"
    >
      <ngx-emoji [emoji]="segment.icon" size="20"></ngx-emoji>
      {{ segment.name }}
    </li>
  </ul>
  <button class="sidemenu__btn-add-segment" mat-button (click)="addSegment()">
    <i class="plus-white"></i> Add a segment
  </button>
</div>
