<!-- <emoji-mart (emojiSelect)="select($event)"></emoji-mart>

<div>
  <h2>Selected Emoji:</h2>
  <ngx-emoji [emoji]="selectedEmoji" size="16"></ngx-emoji>
</div>

<h2>Content Editable</h2>
<div contenteditable="true">Content Editable</div>

<h2>Append to Div</h2>
<div #appendhotspot></div> -->
<div class="container">
  <app-navbar></app-navbar>
  <app-sidemenu></app-sidemenu>
  <main>
    <app-navbar2></app-navbar2>
    <div class="content">
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title> Personal data </mat-panel-title>
            <mat-panel-description>
              Type your name and age
            </mat-panel-description>
          </mat-expansion-panel-header>
          coba test
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title> Self aware panel </mat-panel-title>
            <mat-panel-description> hallo </mat-panel-description>
          </mat-expansion-panel-header>
          <p>I'm visible because I am open</p>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </main>
</div>
