ini segment{{segments | async}}
<div class="container">
  <app-navbar></app-navbar>
  <app-sidemenu></app-sidemenu>
  <main>
    <app-navbar2></app-navbar2>
    <div class="content">
      <mat-accordion class="segments">
        <mat-expansion-panel expanded="true">
          <mat-expansion-panel-header
            collapsedHeight="100px"
            expandedHeight="100px"
          >
            <mat-panel-title>
              <h1><i class="dummy"></i> Segment 1</h1>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>
            <app-btn-table></app-btn-table>
            <app-btn-plus></app-btn-plus>
          </p>
        </mat-expansion-panel>
        <mat-expansion-panel expanded="true">
          <mat-expansion-panel-header
            collapsedHeight="100px"
            expandedHeight="100px"
          >
            <mat-panel-title>
              <h1><i class="dummy"></i> Segment 1</h1>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>
            <app-btn-table></app-btn-table>
            <app-btn-plus></app-btn-plus>
          </p>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </main>
</div>
