.container {
  display: flex;
}

main {
  width: calc(100vw - 350px);
  padding: 0 1.5rem 0 1.5rem;
}

.content {
  width: 100%;
  height: calc(100vh - 77px);
  overflow-y: auto;
}

.content p {
  padding-bottom: 2rem;
}

.btn-table,
.btn-plus {
  position: relative;
  padding: 0;
  width: 80px;
  height: 80px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-width: 2px;
  margin-right: 1.5rem;
  border-radius: 10px;
}

.btn-plus {
  border-color: #334bfa;
}

.btn-table__dot {
  display: block;
  width: 9px;
  height: 9px;
  position: absolute;
  right: 11px;
  top: 7px;
  border-radius: 50%;
}

.btn-table__label {
  position: absolute;
  bottom: -2.5rem;
  left: 0;
  inline-size: 80px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
