.container {
  display: flex;
}

main {
  width: calc(100vw - 350px);
  padding: 0 1.5rem 0 1.5rem;
}

.content {
  width: 100%;
  height: calc(100vh - 77px);
  overflow-y: auto;
}

.content p {
  padding-bottom: 2rem;
}

.tables-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
