<form [formGroup]="tableForm" (ngSubmit)="onSubmit()">
  <h1 mat-dialog-title>Add a table</h1>
  <div style="padding-bottom: 1rem" mat-dialog-content>
    <label for="name">Name</label>
    <input type="text" id="name" name="name" class="form-control" />
    <label for="icon">Icon</label>
    <button id="icon" name="icon" class="form-control emoji-selector">
      <ngx-emoji emoji=":santa::skin-tone-3:" size="32"></ngx-emoji>
    </button>
    <emoji-mart [showPreview]="false"> </emoji-mart>
    <label for="color">Color</label>
    <button
      id="color"
      name="color"
      class="form-control color-selector"
      [matMenuTriggerFor]="menu"
    >
      <span class="color-selected"></span>
    </button>
    <mat-menu #menu="matMenu" class="color-options">
      <span class="color-options__option"></span>
      <span class="color-options__option"></span>
      <span class="color-options__option"></span>
      <span class="color-options__option"></span>
      <span class="color-options__option"></span>
      <span class="color-options__option"></span>
      <span class="color-options__option"></span>
      <span class="color-options__option"></span>
      <span class="color-options__option"></span>
      <span class="color-options__option"></span>
      <span class="color-options__option"></span>
    </mat-menu>
  </div>
  <div mat-dialog-actions>
    <button type="submit" class="btn-primary" mat-button>Save</button>
    <button mat-stroked-button class="btn-secondary" (click)="onNoClick()">
      Cancel
    </button>
  </div>
</form>
